In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.random.randn(4, 3)
data

array([[ 1.0559996 , -0.26951231,  0.35961458],
       [ 0.04178978, -2.66279552, -0.4240714 ],
       [ 0.76952564,  0.16766135, -0.61674234],
       [ 0.77247189, -2.0396667 ,  0.34642935]])

#### Creating DataFrame

In [3]:
dataFrame = pd.DataFrame(data)
dataFrame

          0         1         2
0  1.056000 -0.269512  0.359615
1  0.041790 -2.662796 -0.424071
2  0.769526  0.167661 -0.616742
3  0.772472 -2.039667  0.346429

In [4]:
dataFrame[0]

0    1.056000
1    0.041790
2    0.769526
3    0.772472
Name: 0, dtype: float64

In [5]:
type(dataFrame[0])

pandas.core.series.Series

In [6]:
df = pd.DataFrame(data, index = ["row1", "row2", "row3", "row4"], columns=["col1", "col2", "col3"])
df

          col1      col2      col3
row1  1.056000 -0.269512  0.359615
row2  0.041790 -2.662796 -0.424071
row3  0.769526  0.167661 -0.616742
row4  0.772472 -2.039667  0.346429

### Dataframe Indexing

#### Selecting columns

In [8]:
df["col1"]

row1    1.056000
row2    0.041790
row3    0.769526
row4    0.772472
Name: col1, dtype: float64

In [9]:
df[["col1", "col2"]]

          col1      col2
row1  1.056000 -0.269512
row2  0.041790 -2.662796
row3  0.769526  0.167661
row4  0.772472 -2.039667

##### Selecting Row

In [10]:
df.loc["row1"]

col1    1.056000
col2   -0.269512
col3    0.359615
Name: row1, dtype: float64

In [13]:
df.iloc[0]

col1    1.056000
col2   -0.269512
col3    0.359615
Name: row1, dtype: float64

In [14]:
df.iloc[1]

col1    0.041790
col2   -2.662796
col3   -0.424071
Name: row2, dtype: float64