In [1]:
import numpy as np
import pandas as pd

In [2]:
outer_idx = ["Simpson", "Simpson", "Simpson", "South Park", "South Park", "South Park"]
inner_idx = ["Homer", "Bart", "Marge", "Cartman", "Kenny", "Kyle"]

In [3]:
mergedIdx = list(zip(outer_idx, inner_idx))
mergedIdx

[('Simpson', 'Homer'),
 ('Simpson', 'Bart'),
 ('Simpson', 'Marge'),
 ('South Park', 'Cartman'),
 ('South Park', 'Kenny'),
 ('South Park', 'Kyle')]

In [4]:
mergedIdx = pd.MultiIndex.from_tuples(mergedIdx)
mergedIdx

MultiIndex([(   'Simpson',   'Homer'),
            (   'Simpson',    'Bart'),
            (   'Simpson',   'Marge'),
            ('South Park', 'Cartman'),
            ('South Park',   'Kenny'),
            ('South Park',    'Kyle')],
           )

In [5]:
type(mergedIdx)

pandas.core.indexes.multi.MultiIndex

In [6]:
myData = [[40, "A"], [10, "B"], [30, "C"], [9, "D"], [10, "E"], [11, "F"]]
myNpData = np.array(myData)
myNpData

array([['40', 'A'],
       ['10', 'B'],
       ['30', 'C'],
       ['9', 'D'],
       ['10', 'E'],
       ['11', 'F']], dtype='<U11')

In [7]:
cartoon_df = pd.DataFrame(myNpData, index=mergedIdx, columns=["Age", "Vocation"])
cartoon_df

                   Age Vocation
Simpson    Homer    40        A
           Bart     10        B
           Marge    30        C
South Park Cartman   9        D
           Kenny    10        E
           Kyle     11        F

In [8]:
cartoon_df.loc["Simpson"]

      Age Vocation
Homer  40        A
Bart   10        B
Marge  30        C

In [11]:
cartoon_df.loc["South Park"].loc["Kenny"]

Age         10
Vocation     E
Name: Kenny, dtype: object

#### Assigning a name to index

In [12]:
cartoon_df.index.names = ["Cartoon Name", "Name"]
cartoon_df

                     Age Vocation
Cartoon Name Name
Simpson      Homer    40        A
             Bart     10        B
             Marge    30        C
South Park   Cartman   9        D
             Kenny    10        E
             Kyle     11        F